body {
    background-image: url('./asset/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.content {
    width: 60%;
    max-width: 680px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 1rem;
}

header, footer {
    background-color: black;
    color: white;
}

header {
    height: 150px;
}

.title {
    text-align: center;
    font-weight: bold;
}

.header__button-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 0;
}

.header__button {
    width: 100px;
    background-color: red;
    color: white;
    border-style: none;
    cursor: pointer;
}

main {
    height: 100%;
    opacity: 60%;
    background-color: #e5782b;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 12px;
    word-break: keep-all;
}

.modal__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 2.5rem 1rem 1rem 1rem;
    background: black;
    background: -webkit-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    background: -moz-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    opacity: 80%;
    border-radius: 3%;
}

.modal__input {
    display: flex;
    align-items: start;
    gap: 15px;
}

.modal__input > input {
    min-width: 250px;
}

.modal__input-label {
    display: block;
    color: white;
    width: 25px;
}

.modal__input > textarea {
    resize: none;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.modal__buttons > button {
    background-color: red;
    color: white;
    border-style: none;
    width: 80px;
}