body {
    background-image: url('./asset/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.content {
    width: 60%;
    max-width: 680px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 1rem;
}

header, footer {
    background-color: black;
    color: white;
}

header {
    height: 150px;
}

.title {
    text-align: center;
    font-weight: bold;
}

.header__button-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 0;
}

.header__button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: red;
    color: white;
    border-style: none;
}

main.main__section-container {
    height: 100%;
    /* 29 20 43 */
    background-color: rgba(23, 22, 22, 0.6);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    /* scrollbar hide */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

main.main__section-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* 4가지 종류의 섹션 관련 스타일 */
.section {
    display: flex;
    background-color: rgb(37, 36, 36);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
}

.section > .image-area {
    min-width: 60%;
}

.section > .title-area {
    position: relative;
    width: 100%;
    height: 100%;
}

.section__title {
    padding: 5px;
    text-align: left;
}

.section__close {
    position: absolute;
    color: red;
    right: 5px;
    top: 40%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 12px;
    word-break: keep-all;
}

.modal__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 2.5rem 1rem 1rem 1rem;
    background: black;
    background: -webkit-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    background: -moz-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    opacity: 95%;
    border-radius: 3%;
}

.modal__input {
    display: flex;
    align-items: start;
    gap: 15px;
}

.modal__input > input {
    min-width: 250px;
}

.modal__input-label {
    display: block;
    color: white;
    width: 25px;
}

.modal__input > textarea {
    resize: none;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.modal__buttons > button {
    background-color: red;
    color: white;
    border-style: none;
    width: 80px;
    cursor: pointer;
}